* {
  @apply font-euclid;
  scroll-behavior: smooth;
}

:root {
  --popper-theme-background-color: #121212;
  --popper-theme-background-color-hover: #333333;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: #8798a01a;
  --popper-theme-border-radius: 8px;
  --popper-theme-padding: 8px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

html,
body #app {
  @apply overflow-x-hidden bg-body !p-0 text-font;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  @apply bg-font/50 rounded;
}

.icon {
  @apply fill-font hover:fill-white transition-all duration-300 hover:scale-105 hover:cursor-pointer;
}

.module {
  @apply bg-module border-boxborder border p-4 rounded-lg shadow;
}

.box {
  @apply bg-box border-boxborder border p-2 rounded-lg shadow;
}

.post {
  @apply bg-post border-boxborder border p-2 rounded-lg shadow;
}
